-content_for :head do
  :javascript
    $(document).ready(function(){
      $('#big_message_image').cycle({
        fx: 'scrollHorz',
        speed: 'slow',
        timeout: 8000,
        easing: 'easeOutQuint',
        prev: '#big_message_prev',
        next: '#big_message_next',
        before: function(currSlideElement, nextSlideElement, options, forwardFlag) {
          var slideNum = $(nextSlideElement).attr("data-slide-num");
          $(".big_message_info").hide();
          $("#big_message_" + slideNum).fadeIn();
        }
      });
    });
-no_content_row 
-hide_page_title
#home_index_row.row
  #big_message    
    #big_message_left.fivecol
      #big_message_1.big_message_info
        %h2 Welcome to Cairn 1
        %p
          In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. 
          =# link_to 'More about us here', {:controller => 'page', :action => 'show', :id => '2'}, :class => 'read_more'
      #big_message_2.big_message_info
        %h2 Welcome to Cairn 2
        %p
          Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu. Vestibulum ante ipsum primis in faucibus orci.
      #big_message_3.big_message_info
        %h2 Welcome to Cairn 3
        %p
          Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a enim in.
      #big_message_nav
        =link_to("<", "#", :id => "big_message_prev")
        =link_to(">", "#", :id => "big_message_next")
    #big_message_image.sevencol.last
      =image_tag("big_message_slide.jpg", "data-slide-num" => 1)
      =image_tag("big_message_slide_2.jpg", "data-slide-num" => 2)
      =image_tag("big_message_slide_3.jpg", "data-slide-num" => 3)
  #home_box_2.home_box.fourcol
    .home_box_image
      =link_to_slug("hospitals", :hospitals, :class=>"home_box_image_link")  
    %h2.home_box_title Interested in hospitals
    %p.home_box_text
      =strip_tags(Section.find_by_slug(:hospitals).try(:description))
    =link_to_slug("More", :hospitals, :class=>"home_box_link")      
  #home_box_1.home_box.fourcol
    .home_box_image
      =link_to_slug("Care Homes", :care_homes, :class=>"home_box_image_link")
    %h2.home_box_title Interested in care homes
    %p.home_box_text
      =strip_tags(Section.find_by_slug(:care_homes).try(:description))
    =link_to_slug("More", :care_homes, :class=>"home_box_link")
  #home_box_3.home_box.fourcol.last
    .home_box_image
      =link_to_slug("other_industries", :other_industries, :class=>"home_box_image_link")
    %h2.home_box_title Other industries
    %p.home_box_text
      =strip_tags(Section.find_by_slug(:other_industries).try(:description))
    =link_to_slug("More", :other_industries, :class=>"home_box_link")  
  #latest_blog.sixcol
    %h2 Latest from the blog
    -@blog_posts.each do |page|
      .latest_blog_item
        =link_to_self(page, :class=>"latest_blog_item_title")
        %p=(snippet(page, :summary).nil? ? truncate(page.text.strip_tags, :length => 193) : snippet(page, :summary, false).strip_tags)
  #latest_tweet_col.sixcol.last
    %h2 Latest from Twitter
    .latest_tweet
      %p.tweet=highlight_tweet_links(@latest_tweet)
      %p.follow_us
        Follow us
        =link_to "@cairntechnology", "http://twitter.com/cairntechnology"