-content_for :head do
  :javascript
    $(document).ready(function(){
      $('.cycle').cycle({
        fx: 'scrollHorz',
        speed: 'slow',
        timeout: 8000,
        easing: 'easeOutQuint',
        pager: '.cycle_nav',
        next: '.cycle_next',
        prev: '.cycle_prev'
      });
    });
-no_content_row 
-hide_page_title
#home_index_row.row
  #big_message    
    #big_message_left.fivecol
      %h2
        Welcome to Cairn
      %p
        In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. 
        =# link_to 'More about us here', {:controller => 'page', :action => 'show', :id => '2'}, :class => 'read_more'
    #big_message_image.sevencol.last
  #home_box_2.home_box.fourcol
    .home_box_image
    %h2.home_box_title Interested in hospitals
    %p.home_box_text
      Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. 
    =link_to_slug("More", :slug, :class=>"home_box_link")      
  #home_box_1.home_box.fourcol
    .home_box_image
    %h2.home_box_title Interested in care homes
    %p.home_box_text
      Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. 
    =link_to_slug("More", :slug, :class=>"home_box_link")
  #home_box_3.home_box.fourcol.last
    .home_box_image
    %h2.home_box_title Other industries
    %p.home_box_text
      Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. 
    =link_to_slug("More", :slug, :class=>"home_box_link")  
  #latest_blog.sixcol
    %h2 Latest from the blog
    -@blog_posts.each do |page|
      .latest_blog_item
        =link_to_self(page, :class=>"latest_blog_item_title")
        %p=(snippet(page, :summary).nil? ? truncate(page.text.strip_tags, :length => 193) : snippet(page, :summary, false).strip_tags)
  #latest_tweet_col.sixcol.last
    %h2 Latest from Twitter
    .latest_tweet
      %p.tweet=highlight_tweet_links(@latest_tweet)
      %p.follow_us
        Follow us
        =link_to "@cairntechnology", "http://twitter.com/cairntechnology"