-content_for :head do
  :javascript
    $(document).ready(function(){
      $('#big_message_image').cycle({
        fx: 'scrollHorz',
        speed: 'slow',
        timeout: 8000,
        easing: 'easeOutQuint',
        prev: '#big_message_prev',
        next: '#big_message_next',
        before: function(currSlideElement, nextSlideElement, options, forwardFlag) {
          var slideNum = $(nextSlideElement).attr("data-slide-num");
          $(".big_message_info").hide();
          $("#big_message_" + slideNum).fadeIn();
        }
      });
      #{'$(".big_message_info").show();'if @slideshow.slideshow_items.size == 1}
    });
-no_content_row 
-hide_page_title
#home_index_row.row
  -if !@slideshow.slideshow_items.empty?
    #big_message    
      #big_message_left.fivecol
        -@slideshow.slideshow_items.each_with_index do |slideshow_item, index|
          .big_message_info{:id => "big_message_#{index}"}
            =slideshow_item.text
        -if @slideshow.slideshow_items.size > 1
          #big_message_nav
            =link_to("<", "#", :id => "big_message_prev")
            =link_to(">", "#", :id => "big_message_next")
      #big_message_image.sevencol.last
        -@slideshow.slideshow_items.each_with_index do |slideshow_item, index|
          =photo_for(slideshow_item, "535x280", "data-slide-num" => index)
  #home_box_2.home_box.fourcol.corner_container
    -if ie?
      .c1.corner
      .c2.corner
      .c3.corner
      .c4.corner
    .home_box_image
      =link_to_slug("hospitals", :hospitals, :class=>"home_box_image_link")  
    %h2.home_box_title Interested in hospitals
    %p.home_box_text
      =strip_tags(Section.find_by_slug(:hospitals).try(:description))
    =link_to_slug("More", :hospitals, :class=>"home_box_link")      
  #home_box_1.home_box.fourcol.corner_container
    -if ie?  
      .c1.corner
      .c2.corner
      .c3.corner
      .c4.corner
    .home_box_image
      =link_to_slug("Care Homes", :care_homes, :class=>"home_box_image_link")
    %h2.home_box_title Interested in care homes
    %p.home_box_text
      =strip_tags(Section.find_by_slug(:care_homes).try(:description))
    =link_to_slug("More", :care_homes, :class=>"home_box_link")
  #home_box_3.home_box.fourcol.last.corner_container
    -if ie?
      .c1.corner
      .c2.corner
      .c3.corner
      .c4.corner
    .home_box_image
      =link_to_slug("other_industries", :other_industries, :class=>"home_box_image_link")
    %h2.home_box_title Other industries
    %p.home_box_text
      =strip_tags(Section.find_by_slug(:other_industries).try(:description))
    =link_to_slug("More", :other_industries, :class=>"home_box_link")  
  #latest_blog.sixcol
    %h2 Latest from the blog
    -@blog_posts.each do |page|
      .latest_blog_item
        =link_to_self(page, :class=>"latest_blog_item_title")
        %p=(snippet(page, :summary).nil? ? truncate(page.text.strip_tags, :length => 193) : snippet(page, :summary, false).strip_tags)
  #latest_tweet_col.sixcol.last
    %h2 Latest from Twitter
    .latest_tweet
      %p.tweet=highlight_tweet_links(@latest_tweet)
      %p.follow_us
        Follow us
        =link_to "@cairntechnology", "http://twitter.com/cairntechnology"