.row
  #flash_message.twelvecol.no_padding
    =render_flash
  .threecol.no_padding
    -if is_home?
      %h1#site_logo
        =link_to "#{site_name}", root_path, :id=>"site_logo_link"
    -else
      =link_to "#{site_name}", root_path, :id=>"site_logo_link"
  #header_right.ninecol.last.no_padding
    %p#contact_phone
      Contact Us:
      =strip_tags(site_snippet(:contact_phone))
      =link_if_allowed('Edit', edit_snippet_proc(Snippet.site_snippet(:contact_phone)), :class => 'edit_snippet_link')
    #right_company_info
      %h2 Partnership Innovation Excellence
      %p
        =strip_tags(site_snippet(:header_text))
        =link_if_allowed('Edit', edit_snippet_proc(Snippet.site_snippet(:header_text)), :class => 'edit_snippet_link')
    -if logged_in?
      .panel
        .logged_in_as
          =link_to(@logged_in_member, "#", :class=>'logged_in_member_link')
          =link_if_allowed('Admin', admin_proc)
          
    -if logged_in?
      .logged_in_box
        -link_to @logged_in_member, :class=>'my_profile_link' do
          =image_for @logged_in_member, '50x50#'
          %p My profile
        =link_if_allowed "Account settings", edit_member_proc(@logged_in_member)
        =link_to('Logout', session_path, :method => :delete)