-current_idx = items.index(item)
-pre = item == items.first ? nil : items[current_idx - 1]
-nxt = item == items.last  ? nil : items[current_idx + 1]
-parent = item.breadcrumb_parent


#overflow_subnav
  #overflow_previous
    =link_to("<span class='overflow_left'>Previous #{parent.page_type_name.try(:downcase)}</span> <span class='overflow_right'></span>".strip, pre, :title => pre) if pre
  #overflow_all
    =link_to("<span class='overflow_left'>All</span> <span class='overflow_right'></span>", parent, :title => parent)
  #overflow_next
    =link_to("<span class='overflow_left'> Next #{parent.page_type_name.try(:downcase)}</span> <span class='overflow_right'></span>".strip, nxt, :title => nxt) if nxt
