-current_idx = items.index(item)
-pre = item == items.first ? nil : items[current_idx - 1]
-nxt = item == items.last  ? nil : items[current_idx + 1]
-parent = item.breadcrumb_parent


#overflow_subnav
  #overflow_previous
    =link_to("Previous #{parent.page_type_name.try(:downcase)}".strip, pre, :title => pre) if pre
  #overflow_all
    =link_to("All", parent, :title => parent)
  #overflow_next
    =link_to("Next #{parent.page_type_name.try(:downcase)}".strip, nxt, :title => nxt) if nxt
