-content_for :head do
  :coffeescript
    $ ->
      FeedbackForm.updateMoreInfoSpecifics()
      FeedbackForm.updateProductOrServiceSpecifics()
      $('#enquiry_more_info_input input').click ->
        FeedbackForm.updateMoreInfoSpecifics()
      $('#enquiry_product_or_service_input input').click ->
        FeedbackForm.updateProductOrServiceSpecifics()

    FeedbackForm = 

      anySpecificsChecked: (elmnt) -> 
        specify = false
        console.log(elmnt)
        $(elmnt).find('input:checked').each (idx, item) =>
          console.log(item)
          if $(item).val().match /please specify/
            specify = true
        console.log specify
        specify

      updateMoreInfoSpecifics: ->
        specificsFld = $('#enquiry_more_info_specifics')
        if this.anySpecificsChecked $('#enquiry_more_info_input')
          specificsFld.show()
        else
          specificsFld.hide()
          specificsFld.val ''

      updateProductOrServiceSpecifics: ->
        specificsFld = $('#enquiry_product_or_service_specifics')
        if this.anySpecificsChecked $('#enquiry_product_or_service_input')
          specificsFld.show()
        else
          specificsFld.hide()
          specificsFld.val ''

%p.help
  We're always seeking to improve the quality of our products and our customer service, and we value your views and opinions. Your feedback would be very much appreciated. Please take a few minutes to complete this form and click 'submit.'

-form.inputs "Your details", :class => "box" do
  =form.input :name, :label => "Full Name"
  =form.input :job_title, :label => "Job title"
  =form.input :department, :label => "Department"
  =form.input :hospital_care_home_or_company, :label => "Hospital/Care Home/Company"
  =form.input :address, :label => "Address", :as => :text, :input_html => {:rows => 3}
  =form.input :post_code, :label => "Post code"
  =form.input :email, :label => "Email address"
  =form.input :contact_preference, :label => "How would you prefer to be contacted?", :as => :check_boxes, :collection => ["E-mail","Phone","Post","No preference"]
  
-form.inputs "About Our Product or Service", :class => "box" do

  =form.input :product_or_service, :label => "Which product or service have you recently bought from us?", :as => :check_boxes, :collection => FeedbackForm::PRODUCTS
  =form.input :product_or_service_specifics, :label => '&nbsp;'


  =form.input :how_pleased_are_you, :label => "How pleased with the product or service are you?", :as => :radio, :collection => ["Very pleased","Pleased","Satisfied","Disappointed"]
  =form.input :value_for_money, :label => "How would you rate it for value for money?", :as => :radio, :collection => ["Excellent","Good","Average","Poor"]
  =form.input :how_did_you_find_out, :label => "How did you find out about this particular Cairn Technology product or service?", :as => :check_boxes, :include_other => true, :collection => ["Email newsletter", "Internet search", "Marketing letter", "Phone call from Cairn Technology Account Manager", "Trade magazine", "Word of mouth"]
  =form.input :how_do_you_find_out, :label => "How do you typically try to find solutions to problems you need to solve?", :as => :check_boxes, :include_other => true, :collection => ["Internet search", "Trade magazine", "Ask colleagues in similar departments", "Contact Health & Safety Officer", "Contact company which has been helpful previously"]
  =form.input :did_you_assess_others, :label => "Did you assess any other products/services before buying from us?", :as => :radio, :collection => ["Yes", "No"]
  =form.input :which_one, :label => "If yes, which one?"
  =form.input :how_likely_to_buy_again, :label => "How likely are you to buy the product or service from us again?", :as => :radio, :collection => ["Very likely", "Likely", "Unlikely", "Not at all"]
  =form.input :would_you_recommend, :label => "Would you recommend it to others?", :as => :radio, :collection => ["Yes", "No"]
  =form.input :recommendation_quote, :label => "If yes, would you be willing to provide us with a quote we can use in our marketing literature? Please type what you would like to say in the box below.", :as => :text, :input_html => {:rows => 3}
  =form.input :improvements, :label => "Would you like to suggest any changes or improvements we could make?", :as => :text, :input_html => {:rows => 3}
  
-form.inputs "Customer service", :class => "box" do
  =form.input :contact_with_account_manager, :label => "Did you have any contact with a Cairn Technology Account Manager?", :as => :radio, :collection => ["Yes", "No"]
  =form.input :how_helpful, :label => "If yes, how helpful were they?", :as => :radio, :collection => ["Very helpful", "Quite helpful", "Unhelpful", "Very unhelpful"]
  =form.input :prefer_to_place, :label => "How do you prefer to place orders?", :as => :check_boxes, :collection => ["Phone", "Fax", "Email", "Post","N/A"]
  =form.input :how_quickly , :label => "How pleased were you with how quickly you received your product or service?", :as => :radio, :collection => ["Very pleased","Pleased","Satisfied","Disappointed"]
  =form.input :any_problems, :label => "Did you experience any problems when ordering from us?", :as => :radio, :collection => ["Yes", "No"]
  =form.input :what_problems, :label => "If yes, please give your comments here:", :as => :text, :input_html => {:rows => 3}
  =form.input :resolved, :label => "How pleased were you with how we dealt with the problem?", :as => :radio, :collection => ["Very pleased","Pleased","Satisfied","Disappointed"]
  =form.input :helpfulness_and_professionalism, :label => "If you used one of our monitoring services or our training, how would you rate the helpfulness and professionalism of our Consultant?", :as => :radio, :collection => ["Excellent","Good","Average","Poor"]

-form.inputs "Summary", :class => "box" do
  =form.input :how_pleased, :label => "Overall, how pleased were you with Cairn Technology?", :as => :radio, :collection => ["Very pleased","Pleased","Satisfied","Disappointed"]
  =form.input :willing_to_case_study, :label => "Would you be willing to provide us with a Case Study for marketing literature?", :as => :radio, :collection => ["Yes", "No"]
  =form.input :how_complete, :label => "If yes, how would you like to complete it?", :as => :radio, :collection => ["Phone", "Post"]
  =form.input :more_info, :label => "Would you like any information on the following Cairn Technology products and services?", :as => :check_boxes, :collection => FeedbackForm::PRODUCTS, :label => '&nbsp;'
  =form.input :more_info_specifics
  =form.input :dont_contact_in_future, :label => "If you would prefer not to be contacted by Cairn Technology in the future, please tick this box.", :as => :boolean